Repository philipch07/scuffle: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-aac, scuffle-amf0, scuffle-av1, scuffle-batching, scuffle-bootstrap, scuffle-bytes-util, scuffle-context, scuffle-expgolomb, scuffle-ffmpeg, scuffle-flv, scuffle-future-ext, scuffle-h3-webtransport, nutype-enum, scuffle-http, scuffle-metrics, postcompile, scuffle-pprof, scuffle-settings, scuffle-signal

fix: memory leaks in ffmpeg tests
  crates/ffmpeg/src/decoder.rs
  crates/ffmpeg/src/log.rs
Due: scuffle-ffmpeg

setup git user
  .github/workflows/crate-release.yaml
Due: none

fix ci
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/metrics/derive/Cargo.toml
  dev-tools/xtask/src/cmd/mod.rs
  dev-tools/xtask/src/cmd/workspace_deps.rs
Due: scuffle-metrics

release crates
  .github/workflows/crate-release.yaml
Due: none

fix ci
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  crates/bootstrap/telemetry/Cargo.toml
  crates/context/Cargo.toml
  crates/metrics/derive/Cargo.toml
  dev-tools/xtask/src/cmd/publish.rs
Due: scuffle-bootstrap, scuffle-context, scuffle-metrics

bump scuffle-settings
  Cargo.lock
  Cargo.toml
  crates/settings/CHANGELOG.md
  crates/settings/Cargo.toml
Due: scuffle-settings

stop using action
  .github/workflows/crate-release.yaml
Due: none

allow dirty
  .github/workflows/crate-release.yaml
Due: none

dont verify release builds
  .github/workflows/crate-release.yaml
Due: none

bump signal version
  Cargo.lock
  Cargo.toml
  crates/signal/Cargo.toml
Due: scuffle-signal

remove release code
  .github/workflows/crate-release.yaml
Due: none

remove semver check
  .github/workflows/ci.yaml
Due: none

fix create-release
  .github/workflows/crate-release.yaml
Due: none

bump ffmpeg
  Cargo.lock
  Cargo.toml
  crates/ffmpeg/CHANGELOG.md
  crates/ffmpeg/Cargo.toml
Due: scuffle-ffmpeg

deploy ffmpeg
  .github/workflows/crate-release.yaml
Due: none

fix ffmpeg-deploy
  release-plz.toml
Due: none

try fix ffmpeg docs
  crates/ffmpeg/Cargo.toml
  crates/ffmpeg/src/io/channel.rs
  crates/ffmpeg/src/io/mod.rs
  crates/ffmpeg/src/lib.rs
  crates/ffmpeg/src/log.rs
  release-plz.toml
Due: scuffle-ffmpeg

bump ffmpeg version
  Cargo.lock
  Cargo.toml
  crates/ffmpeg/CHANGELOG.md
  crates/ffmpeg/Cargo.toml
Due: scuffle-ffmpeg

fix ci
  .github/workflows/crate-release.yaml
Due: none

ready for merge
  .github/workflows/crate-release.yaml
  crates/ffmpeg/Cargo.toml
Due: scuffle-ffmpeg

show shields on the release
  release-plz.toml
Due: none

fix install deps
  .github/workflows/ci.yaml
  .github/workflows/crate-release.yaml
Due: none

fix windows for ffmpeg build
  crates/ffmpeg/src/log.rs
  crates/ffmpeg/src/scaler.rs
Due: scuffle-ffmpeg

add changelog entry
  crates/ffmpeg/CHANGELOG.md
Due: scuffle-ffmpeg

this only works for troy
  valgrind_suppressions.log
Due: none

added valgrind via just grind and just grind_sup
  Justfile
Due: none

catch all pthread_create calls
  valgrind_suppressions.log
Due: none

updated to name tests
  valgrind_suppressions.log
Due: none

addressed pr comment
  crates/batching/src/batch.rs
  crates/batching/src/dataloader.rs
Due: scuffle-batching

try generalize the valgrind supressions
  crates/pprof/src/lib.rs
  valgrind_suppressions.log
Due: scuffle-pprof

added valgrind flag for appropriate tests
  crates/batching/Cargo.toml
  crates/batching/src/batch.rs
  crates/batching/src/dataloader.rs
  crates/bootstrap/src/global.rs
  crates/bootstrap/telemetry/Cargo.toml
  crates/bootstrap/telemetry/src/lib.rs
  crates/rtmp/Cargo.toml
  crates/rtmp/src/tests/rtmp.rs
  crates/signal/Cargo.toml
  crates/signal/src/lib.rs
Due: scuffle-batching, scuffle-bootstrap, scuffle-signal

invoke valgrind via nextest instead of cargo test
  Justfile
Due: none

cleaned justfile
  Justfile
Due: none

correct grind if condition
  .github/workflows/ci.yaml
Due: none

add valgrind suppressions
  .gitignore
  valgrind_suppressions.log
Due: none

add valgrind (atm amf0 has errors though)
  Justfile
Due: none

updated ci
  .github/workflows/ci.yaml
Due: none

Path conditions:
  scuffle-aac: any of: crates/aac/**, but not: dev-tools/**
  scuffle-amf0: any of: crates/amf0/**, but not: dev-tools/**
  scuffle-av1: any of: crates/av1/**, but not: dev-tools/**
  scuffle-batching: any of: crates/batching/**, but not: dev-tools/**
  scuffle-bootstrap: any of: crates/bootstrap/**, but not: dev-tools/**
  scuffle-bytes-util: any of: crates/bytes-util/**, but not: dev-tools/**
  scuffle-context: any of: crates/context/**, but not: dev-tools/**
  scuffle-expgolomb: any of: crates/expgolomb/**, but not: dev-tools/**
  scuffle-ffmpeg: any of: crates/ffmpeg/**, but not: dev-tools/**
  scuffle-flv: any of: crates/flv/**, but not: dev-tools/**
  scuffle-future-ext: any of: crates/future-ext/**, but not: dev-tools/**
  scuffle-h3-webtransport: any of: crates/h3-webtransport/**, but not: dev-tools/**
  nutype-enum: any of: crates/nutype_enum/**, but not: dev-tools/**
  scuffle-http: any of: crates/http/**, but not: dev-tools/**
  scuffle-metrics: any of: crates/metrics/**, but not: dev-tools/**
  postcompile: any of: crates/postcompile/**, but not: dev-tools/**
  scuffle-pprof: any of: crates/pprof/**, but not: dev-tools/**
  scuffle-settings: any of: crates/settings/**, but not: dev-tools/**
  scuffle-signal: any of: crates/signal/**, but not: dev-tools/**
