Repository philipch07/scuffle: changes, and which Codecov flags are due for each by the changed paths.
All: scuffle-aac, scuffle-amf0, scuffle-av1, scuffle-batching, scuffle-bootstrap, scuffle-bytes-util, scuffle-context, scuffle-expgolomb, scuffle-ffmpeg, scuffle-flv, scuffle-future-ext, scuffle-h3-webtransport, nutype-enum, scuffle-http, scuffle-metrics, postcompile, scuffle-pprof, scuffle-settings, scuffle-signal

install valgrind
  .github/workflows/ci.yaml
Due: none

fix random scaler clippi issue
  crates/ffmpeg/src/scaler.rs
Due: scuffle-ffmpeg

added clippi skip
  crates/ffmpeg/src/scaler.rs
Due: scuffle-ffmpeg

test
  test.txt
Due: none

update apt
  .github/workflows/ci.yaml
  .github/workflows/crate-release.yaml
Due: none

fix grind command
  .github/workflows/ci.yaml
Due: none

add --gen-suppressions=all to ci
  .github/workflows/ci.yaml
Due: none

fix nightly memory leak
  valgrind_suppressions.log
Due: none

use nightly toolchain
  .github/workflows/ci.yaml
  Justfile
Due: none

add powerset to ci
  .github/workflows/ci.yaml
Due: none

addressed pr comments
  .github/workflows/ci.yaml
Due: none

disable hakari before powerset
  .github/workflows/ci.yaml
Due: none

on all brawl events
  .github/workflows/ci.yaml
Due: none

add package to ci
  .github/workflows/ci.yaml
Due: none

use component workflows
  .github/actions/setup-ffmpeg/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/patch-docs.sh
  .github/workflows/ci.yaml
  .github/workflows/crate-release.yaml
Due: none

fix missing property
  .github/actions/setup-ffmpeg/action.yaml
  .github/actions/setup-rust/action.yaml
Due: none

fix rust toolchain
  .github/actions/setup-rust/action.yaml
Due: none

fix package env
  .github/workflows/ci.yaml
Due: none

better workspace checks
  .github/workflows/ci.yaml
  crates/bootstrap/telemetry/Cargo.toml
  crates/bootstrap/telemetry/src/lib.rs
  crates/settings/Cargo.toml
  crates/settings/src/lib.rs
Due: scuffle-bootstrap, scuffle-settings

fix fmt
  crates/bootstrap/telemetry/src/lib.rs
  crates/settings/src/lib.rs
Due: scuffle-bootstrap, scuffle-settings

reformat ffmpeg install deps
  .github/actions/setup-ffmpeg/action.yaml
Due: none

better step names
  .github/workflows/ci.yaml
Due: none

change log improvements
  Justfile
  changes.d/README.md
  crates/aac/CHANGELOG.md
  crates/amf0/CHANGELOG.md
  crates/av1/CHANGELOG.md
  crates/batching/CHANGELOG.md
  crates/bootstrap/CHANGELOG.md
  crates/bootstrap/derive/CHANGELOG.md
  crates/bootstrap/telemetry/CHANGELOG.md
  crates/bytes-util/CHANGELOG.md
  crates/context/CHANGELOG.md
  crates/expgolomb/CHANGELOG.md
  crates/ffmpeg/CHANGELOG.md
  crates/flv/CHANGELOG.md
  crates/future-ext/CHANGELOG.md
  crates/h264/CHANGELOG.md
  crates/h265/CHANGELOG.md
  crates/h3-webtransport/CHANGELOG.md
  crates/http/CHANGELOG.md
  crates/metrics/CHANGELOG.md
  crates/metrics/derive/CHANGELOG.md
  crates/mp4/CHANGELOG.md
  crates/nutype_enum/CHANGELOG.md
  crates/postcompile/CHANGELOG.md
  crates/pprof/CHANGELOG.md
  crates/rtmp/CHANGELOG.md
  crates/settings/CHANGELOG.md
  crates/signal/CHANGELOG.md
  crates/transmuxer/CHANGELOG.md
  dev-tools/xtask/Cargo.toml
  dev-tools/xtask/src/cmd/change_logs/check_pr.rs
  dev-tools/xtask/src/cmd/change_logs/generate.rs
  dev-tools/xtask/src/cmd/change_logs/mod.rs
  dev-tools/xtask/src/cmd/change_logs/util.rs
  dev-tools/xtask/src/cmd/mod.rs
  dev-tools/xtask/src/cmd/power_set.rs
  dev-tools/xtask/src/cmd/workspace_deps.rs
  release-plz.toml
Due: scuffle-aac, scuffle-amf0, scuffle-av1, scuffle-batching, scuffle-bootstrap, scuffle-bytes-util, scuffle-context, scuffle-expgolomb, scuffle-ffmpeg, scuffle-flv, scuffle-future-ext, scuffle-h3-webtransport, nutype-enum, scuffle-http, scuffle-metrics, postcompile, scuffle-pprof, scuffle-settings, scuffle-signal

add ci
  .github/labels.yaml
  .github/workflows/change-log.yaml
  changes.d/README.md
  changes.d/example.toml
  dev-tools/xtask/src/cmd/change_logs/check_pr.rs
  dev-tools/xtask/src/cmd/change_logs/generate.rs
Due: none

fix format
  dev-tools/xtask/src/cmd/change_logs/generate.rs
  dev-tools/xtask/src/cmd/change_logs/util.rs
  dev-tools/xtask/src/cmd/power_set.rs
Due: none

fix ci name
  .github/workflows/change-log.yaml
Due: none

fix just file & add aliases for change entry
  Justfile
  dev-tools/xtask/src/cmd/change_logs/util.rs
Due: none

correct readme
  changes.d/README.md
Due: none

create release workflow dispatch
  .github/workflows/create-crate-release.yaml
  dev-tools/xtask/src/cmd/change_logs/check_pr.rs
  dev-tools/xtask/src/cmd/change_logs/generate.rs
Due: none

fix lennart git username
  changes.d/example.toml
Due: none

first refactor to new ffmpeg backend
  Cargo.lock
  crates/ffmpeg/Cargo.toml
  crates/ffmpeg/README.md
  crates/ffmpeg/src/codec.rs
  crates/ffmpeg/src/decoder.rs
  crates/ffmpeg/src/dict.rs
  crates/ffmpeg/src/encoder.rs
  crates/ffmpeg/src/enums/av_channel_order.rs
  crates/ffmpeg/src/enums/av_codec_id.rs
  crates/ffmpeg/src/enums/av_dict_flags.rs
  crates/ffmpeg/src/enums/av_discard.rs
  crates/ffmpeg/src/enums/av_fmt_flags.rs
  crates/ffmpeg/src/enums/av_io_flag.rs
  crates/ffmpeg/src/enums/av_media_type.rs
  crates/ffmpeg/src/enums/av_picure_type.rs
  crates/ffmpeg/src/enums/av_pixel_format.rs
  crates/ffmpeg/src/enums/av_pkt_flags.rs
  crates/ffmpeg/src/enums/av_rounding.rs
  crates/ffmpeg/src/enums/av_sample_format.rs
  crates/ffmpeg/src/enums/av_seek.rs
  crates/ffmpeg/src/enums/mod.rs
  crates/ffmpeg/src/error.rs
  crates/ffmpeg/src/filter_graph.rs
  crates/ffmpeg/src/frame.rs
  crates/ffmpeg/src/io/input.rs
  crates/ffmpeg/src/io/internal.rs
  crates/ffmpeg/src/io/output.rs
  crates/ffmpeg/src/lib.rs
  crates/ffmpeg/src/log.rs
  crates/ffmpeg/src/packet.rs
  crates/ffmpeg/src/rational.rs
  crates/ffmpeg/src/scaler.rs
  crates/ffmpeg/src/snapshots/scuffle_ffmpeg__decoder__tests__test_decoder_audio.snap
  crates/ffmpeg/src/snapshots/scuffle_ffmpeg__decoder__tests__test_decoder_video.snap
  crates/ffmpeg/src/snapshots/scuffle_ffmpeg__encoder__tests__test_encoder_encode_video.snap
  crates/ffmpeg/src/stream.rs
  crates/ffmpeg/src/utils.rs
  crates/nutype_enum/src/lib.rs
  crates/workspace-hack/Cargo.toml
Due: scuffle-ffmpeg, nutype-enum

fix fmt
  crates/ffmpeg/src/enums/av_io_flag.rs
Due: scuffle-ffmpeg

switch to using libx264 directly rather than some h264 encoder
  crates/ffmpeg/README.md
  crates/ffmpeg/src/lib.rs
Due: scuffle-ffmpeg

update ffmpeg install action
  .github/actions/setup-ffmpeg/action.yaml
Due: none

fix include copy
  .github/actions/setup-ffmpeg/action.yaml
Due: none

fix powerset
  crates/ffmpeg/Cargo.toml
Due: scuffle-ffmpeg

remove package ci job
  .github/workflows/ci.yaml
Due: none

add changelog entry
  changes.d/pr-290.toml
Due: none

fix metadata comment
  crates/ffmpeg/Cargo.toml
Due: scuffle-ffmpeg

Path conditions:
  scuffle-aac: any of: crates/aac/**, but not: dev-tools/**
  scuffle-amf0: any of: crates/amf0/**, but not: dev-tools/**
  scuffle-av1: any of: crates/av1/**, but not: dev-tools/**
  scuffle-batching: any of: crates/batching/**, but not: dev-tools/**
  scuffle-bootstrap: any of: crates/bootstrap/**, but not: dev-tools/**
  scuffle-bytes-util: any of: crates/bytes-util/**, but not: dev-tools/**
  scuffle-context: any of: crates/context/**, but not: dev-tools/**
  scuffle-expgolomb: any of: crates/expgolomb/**, but not: dev-tools/**
  scuffle-ffmpeg: any of: crates/ffmpeg/**, but not: dev-tools/**
  scuffle-flv: any of: crates/flv/**, but not: dev-tools/**
  scuffle-future-ext: any of: crates/future-ext/**, but not: dev-tools/**
  scuffle-h3-webtransport: any of: crates/h3-webtransport/**, but not: dev-tools/**
  nutype-enum: any of: crates/nutype_enum/**, but not: dev-tools/**
  scuffle-http: any of: crates/http/**, but not: dev-tools/**
  scuffle-metrics: any of: crates/metrics/**, but not: dev-tools/**
  postcompile: any of: crates/postcompile/**, but not: dev-tools/**
  scuffle-pprof: any of: crates/pprof/**, but not: dev-tools/**
  scuffle-settings: any of: crates/settings/**, but not: dev-tools/**
  scuffle-signal: any of: crates/signal/**, but not: dev-tools/**
